.container {
  width: 1140px;
  display: flex;
  align-items: center;

  .disk {
    margin-top: 20px;

    .disk__btns {
      display: flex;
      flex-direction: row;
      height: 37px;
      width: 1140px;

      .btn {
        background-color: var(--blue);
        background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
        border: 2px solid rgb(2, 122, 215);
        color: var(--white);
        cursor: pointer;
        padding: 0.2rem 1rem;
        margin-right: 20px;

        &:hover {
          border: 2px solid var(--white);
        }

        &:active {
          transform: scale(0.95);
        }

        &:focus {
          outline: none;
        }
      }

      .disk__upload {
        margin-top: 5px;
        width: 200px;

        .disk__uploadLabel {
          border: 2px dashed #494949;
          padding: 4px 10px;
          cursor: pointer;
        }

        .disk__uploadInput {
          display: none;
        }
      }

      .filters {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;

        .disk__select {
          margin-right: 45px;

          .select {
            margin: 13px;
          }
        }
      }
    }
  }


  .disk__plate {
    font-size: 30px;
    cursor: pointer;
    margin: 0 10px;
  }

  .disk__list {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px;
  }

  .dropArea {
    width: 100%;
    height: calc(100vh - 70px - 40px);
    margin: 20px;
    border: dashed black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }

}




