
.container {
  width: 1140px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  @media screen and (max-width: 1140px) {
    width: 740px;
  }
  @media screen and (max-width: 740px) {
    justify-content: flex-start;
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 15px;
    }
    h3 {
      font-size: 12px;
      width: 380px;
    }
    span {
      font-size: 10px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .description {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 740px) {
      flex-direction: column;
      font-size: 10px;
    }
  }
}

