a {
    text-decoration: none;
    color: #E9E6E6;
}

.navbar {
    display: flex;
    height: 70px;
    justify-content: center;
    background-color: #303942;
    width: 100%;
    font-family: Kanit;
    color: #E9E6E6;
}

.navbar__logo {
    height: 70px;
}


.navbar__header {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 500;

}

.navbar__login {
    display: flex;
    justify-content: center;

    width: 100px;
    margin-left: auto;
    margin-right: 30px;

    border: #E9E6E6 1px solid;
    padding: 5px;
}

.navbar__registration {
    display: flex;
    justify-content: center;
    width: 100px;
    border: #E9E6E6 1px solid;
    padding: 5px;
}

.navbar__search-wrapper {
    width: 200px;
    margin-left: 40px;
    color: #E9E6E6;
}

.navbar__search-img {
    padding-top: 3px;
    font-size: 20px;
}

.navbar__search {
    outline: none;
    padding-left: 15px;
    color: #E9E6E6;
}

.navbar__avatar-wrapper {
    width: 100px;
}

.navbar__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container {
    width: 1140px;
    display: flex;
    align-items: center;
    /*color: #E9E6E6;*/
}